.form {
  &--wide {
    .form-control,
    .btn {
      width: 100%;
    }
  }
}

.form-group {
  display: block;

  margin-bottom: unit(1/2);

  .form-control {
    margin-top: unit(1/4);
    display: block;
  }
}

.form-control {
  padding: unit(1/2);
  border: unit(1/16) solid $color-black;
  border-radius: unit(1/8);
  outline: none;

  transition: all .4s ease-in-out;

  &:hover {
    border-color: $color-primary-3;
  }

  &:focus {
    border-color: $color-primary-2;
    box-shadow: 0 0 unit(1/8) 0 $color-primary-2 inset;
  }  
}

.btn {
  padding: unit(1/2) unit(1);
  border: none;
  border-radius: unit(1/8);
  outline: none;
  text-align: center;
  cursor: pointer;

  transition: background-color .4s ease-in-out;

  text-shadow: unit(1/32) unit(1/12) $color-black;

  &--primary {
    color: $color-white;
    background-color: $color-primary-2;

    &:hover,
    &:focus {
      background-color: $color-primary-3;
    }
  }

  &--lg {
    font-size: font-size($font-size-h4);
    font-weight: $font-weight-bold;
  }
}
