<div class="projects__project">
  <div class="projects__project__image">
    <h4>{{ project.title }}</h4>
    <img src="/img/projects/{{ project.img }}.jpg" alt="" />
  </div>
  <div class="projects__project__info">
    <h4>{{ project.title }}</h4>
    <p>{{ project.description | safe }}</p>
  </div>
</div>
