<div class="technologies__technology">
  <img
    class="technologies__technology__image"
    src="/img/technologies/{{ technology.toLowerCase() }}.svg"
    alt="{{ technology }}" />
  <h4 class="technologies__technology__title">{{ technology }}</h4>
</div>
