{% extends "blog-layout.njk" %}

{% block head %}
  {{ super() }}

  {% if pagination.previous %}
    <link rel="prev" href="{{ config.url }}/{{ pagination.previous.path }}" />
  {% endif %}
    {% if pagination.next %}
    <link rel="prev" href="{{ config.url }}/{{ pagination.next.path }}" />
  {% endif %}
{% endblock %}

{% block content %}
  <h1 class="underlined">{{ title }}</h1>
  
  <div class="blog-links">
    {% for link in pagination.files %}
      {% include "_link.njk" %}
    {% endfor %}
  </div>
  
  {% if pagination.previous or pagination.next %}
    <ul class="menu">
      {% if pagination.previous %}
        <li class="menu__item">
          <a href="/{{ pagination.previous.path }}">Newer posts</a>
        </li>
      {% endif %}
      {% if pagination.next %}
        <li class="menu__item">
          <a href="/{{ pagination.next.path }}">Older posts</a>
        </li>
      {% endif %}
    </ul>
  {% endif %}
{% endblock %}
