{% extends "blog-layout.njk" %}

{% block head %}
  {{ super() }}

  <meta name="description" content="{{ excerpt }}" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="{{ excerpt }}" />
{% endblock %}

{% block content %}
  <article class="blog-post">
    <h1 class="blog-post__title underlined">{{ title }}</h1>

    <div class="blog-post__content">
      {{ contents | safe }}
    </div>
  </article>
  
  <section>
    <h2 class="h1 underlined">Latest blog posts</h2>
    <div class="blog-links">
      {% for link in collections.posts.slice(0, 10) %}
        {% include "_link.njk" %}
      {% endfor %}
    </div>
  </section>
{% endblock %}
