{% extends "layout.njk" %}

{% block content %} 
  <section class="wrapper masthead js-scrollto-swipe" data-target="#skills" data-scroll="html, body">
    <div class="wrapper__content">
      <h1 class="masthead__heading">
        <span id="js-masthead-text">Modern web app development</span>
        <span class="masthead__caret"></span>
      </h1>
      <h2 class="masthead__subheading">it all starts here</h2>

      <h3 class="masthead__continue js-scrollto-click" data-target="#skills" data-scroll="html, body">
        <i class="arrow arrow--down"></i>
        <span class="masthead__continue-mobile">swipe to continue</span>
        <span class="masthead__continue-desktop">click here to continue</span>
      </h3>
    </div>
  </section>

  <section id="skills" class="wrapper wrapper--target">
    <div class="wrapper__content">
      <h2 class="underlined">Making your vision come to life</h2>

      <p>I'm an experienced full stack developer currently looking for fun and exciting projects. My specialty is in creating modern, fast, beautiful and functional websites and web apps from scratch.</p>
      <p>I've got extensive experience developing and maintaining websites used by hundreds of thousands of people monthly, including deploying infrastructure and servers. Here is a list of some of the technologies I have used on previous projects:</p>

      <div class="technologies">
        {% for technology in [
          'HTML5',
          'CSS3',
          'Sass',
          'Bootstrap',

          'Javascript',
          'NodeJS',
          'Jquery',
          'Python',
          'PHP',
          'Golang',

          'Mysql',

          'Docker'
        ] %}
          {% include "_technology.njk" %}
        {% endfor %}
      </div>
    </div>
  </section>

  <section id="projects" class="wrapper wrapper--target">
    <div class="wrapper__content">
      <h2 class="underlined">Recent projects</h2>

      <div class="projects">
        {% for project in [
          {
            img: 'erotic',
            title: 'Erotic video sharing website',
            description: "A website which allows users to share and repost erotic videos. Users can create circles and invite others to watch content. Videos are embedded from well known and popular third party websites in this sphere, using both an inline and a full sized video player. The website is optimized for mobile and can also be used as a progressive web app.<br/> Technologies: PHP, Laravel, Mysql, Docker"
          },
          {
            img: 'questionnaire',
            title: 'Questionnaire app',
            description: "A personality evaluation questionnaire app. Users are asked to answer from a few different question types, which are selected semi-randomly based on previous answers. The app remembers the user's answered questions to allow for the questionnaire to be completed at a later time. Questions are defined in a CSV spreadsheet for ease of use and the answers can also be exported in the commonly used spreadsheet format.<br/> Technologies: Python, Websockets, Docker"
          },
          {
            img: 'frog',
            title: 'Social news website',
            description: "A website which hosts news in the click bait article style. Articles are written using an accessible WYSIWYG html editor, which also allows for easy image embedding. The website is optimized for mobile and also has a fully featured Facebook integration, including likes, comments and analytics.<br/> Technologies: NodeJS, Mysql, Docker"
          }
        ] %}
          {% include "_project.njk" %}
        {% endfor %}
      </div>

    </div>
  </section>

  <section id="contact" class="wrapper wrapper--target">
    <div class="wrapper__content">
      <h2 class="underlined">Contact me</h2>

      <p>You can send me an e-mail at {{ config.contactEmail }}.<br/> Alternatively, use the form below to send me a message.</p>

      <form class="form form--wide" action="https://formspree.io/{{ config.contactEmail }}" method="POST">
        <label class="form-group">
          <h4>Your e-mail:</h4>
          <input class="form-control" type="email" name="_replyto" />
        </label>

        <label class="form-group">
          <h4>Your message:</h4>
          <textarea class="form-control" name="message" rows="6"></textarea>
        </label>

        <button type="submit" class="btn btn--primary btn--lg">Send</button>
      </form>
    </div>
  </section>

  <section id="contact" class="wrapper">
    <div class="wrapper__content">
      <h2 class="underlined">Latest blog posts</h2>

      {% for link in collections.posts.slice(0, 3) %}
        {% include "_link.njk" %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
