<header class="header wrapper">
  <div class="header__content wrapper__content">
    <a href="/" class="header__name">{{ config.name }}</a>

    <input id="header__toggle" class="header__toggle-checkbox" type="checkbox">

    <label for="header__toggle" class="header__toggle">
      <div class="header__hamburger">
        <div class="header__hamburger__line header__hamburger__line--1"></div>
        <div class="header__hamburger__line header__hamburger__line--2"></div>
        <div class="header__hamburger__line header__hamburger__line--3"></div>
      </div>
    </label>

    <ul class="header__menu">
      <li class="header__menu-item">
        <a href="/#skills">Skills</a>
      </li>
      <li class="header__menu-item">
        <a href="/#projects">Projects</a>
      </li>
      <li class="header__menu-item">
        <a href="/#contact">Contact me</a>
      </li>
      <li class="header__menu-item">
        <a href="/blog/">Blog</a>
      </li>
    </ul>
  </div>
</header>
