<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block title %}
<title>{{ config.title }}</title>
<meta property="og:title" content="{{ config.title }}" />
<meta name="twitter:title" content="{{ config.title }}" />
{% endblock %}

<link rel="canonical" href="{{ canonical }}" />

<link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/styles.css" />

<meta property="og:url" content="{{ canonical }}" />
<meta property="og:site_name" content="{{ config.domain }}" />
<meta name="twitter:card" content="summary_large_image" />

<link rel="alternate" type="application/rss+xml" title="{{ config.domain }}" href="{{ config.url }}/feed/" />
