<footer class="wrapper footer">
  <div class="wrapper__content">
    <p>© {{ currentYear }} {{ config.name }}.</p>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="/js/scripts.min.js"></script>
